@model WebApplication1.Models.SACH
@{
    ViewBag.Title = "ChiTietSach";
    Layout = "~/Views/Shared/Layout_User.cshtml";

}

<div class="Detail-book">
    <h2>ChiTietSach</h2>
    <div class="thumbnail" style="width: 100%">
        <h4 class="tensach">
            @Model.TenSach
        </h4>
        <img src="~/Images/Sach/@Model.HinhMinhHoa" alt=" @Model.TenSach" style="width: 250px">
        <div>
            <p>
                @Html.Raw(@Model.MoTa.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
            </p>
        </div>

        <p class="ngaycapnhat" style="margin-left: 70%"> Ngày cập nhật: @Html.FormatValue(@Model.NgayCapNhat, "{0:dd/MM/yyyy}")</p>
        <p class="giaban" style="margin-left: 70%">Giá bán: <span>@Html.FormatValue(@Model.DonGia, "{0:#,##0}") VNĐ</span></p>
        <p class="addtocard" style="margin-left: 70%">
            <a href="@Url.Action("AddToCard","ShoppingCard") new {id =@Model.MaSach}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Add to Cart</span>
            </a>
        </p>
    </div>
</div>
